In [2]:
import pandas as pd
import os

import matplotlib as plt
import seaborn as sns
import numpy as np
from env import host, user, password

In [3]:
def get_connection(db, username=user, host=host, password=password):
    return f'mysql+pymysql://{username}:{password}@{host}/{db}'

In [4]:
sql = """
        SELECT *
        FROM properties_2017
        LEFT JOIN predictions_2017 AS pe USING (parcelid)
        LEFT JOIN architecturalstyletype AS arch USING (architecturalstyletypeid)
        LEFT JOIN propertylandusetype USING (propertylandusetypeid)
        LEFT JOIN airconditioningtype USING (airconditioningtypeid)
        LEFT JOIN typeconstructiontype USING (typeconstructiontypeid)
        LEFT JOIN storytype USING (storytypeid)
        LEFT JOIN unique_properties USING (parcelid)
        LEFT JOIN heatingorsystemtype USING (heatingorsystemtypeid)
        WHERE propertylandusetype.propertylandusedesc = 'Single Family Residential'
        AND pe.transactiondate LIKE '2017%%';
    """

df = pd.read_sql(sql, get_connection("zillow"));

##  2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [5]:
df.columns

Index(['heatingorsystemtypeid', 'parcelid', 'storytypeid',
       'typeconstructiontypeid', 'airconditioningtypeid',
       'propertylandusetypeid', 'architecturalstyletypeid', 'id',
       'basementsqft', 'bathroomcnt', 'bedroomcnt', 'buildingclasstypeid',
       'buildingqualitytypeid', 'calculatedbathnbr', 'decktypeid',
       'finishedfloor1squarefeet', 'calculatedfinishedsquarefeet',
       'finishedsquarefeet12', 'finishedsquarefeet13', 'finishedsquarefeet15',
       'finishedsquarefeet50', 'finishedsquarefeet6', 'fips', 'fireplacecnt',
       'fullbathcnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa',
       'latitude', 'longitude', 'lotsizesquarefeet', 'poolcnt', 'poolsizesum',
       'pooltypeid10', 'pooltypeid2', 'pooltypeid7',
       'propertycountylandusecode', 'propertyzoningdesc',
       'rawcensustractandblock', 'regionidcity', 'regionidcounty',
       'regionidneighborhood', 'regionidzip', 'roomcnt', 'threequarterbathnbr',
       'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt',
       'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'taxdelinquencyflag', 'taxdelinquencyyear',
       'censustractandblock', 'id', 'logerror', 'transactiondate',
       'architecturalstyledesc', 'propertylandusedesc', 'airconditioningdesc',
       'typeconstructiondesc', 'storydesc', 'heatingorsystemdesc'],
      dtype='object')

In [6]:
df.shape

(52441, 68)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52441 entries, 0 to 52440
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   heatingorsystemtypeid         33935 non-null  float64
 1   parcelid                      52441 non-null  int64
 2   storytypeid                   47 non-null     float64
 3   typeconstructiontypeid        76 non-null     float64
 4   airconditioningtypeid         13638 non-null  float64
 5   propertylandusetypeid         52441 non-null  float64
 6   architecturalstyletypeid      70 non-null     float64
 7   id                            52441 non-null  int64
 8   basementsqft                  47 non-null     float64
 9   bathroomcnt                   52441 non-null  float64
 10  bedroomcnt                    52441 non-null  float64
 11  buildingclasstypeid           0 non-null      object
 12  buildingqualitytypeid         33740 non-null  float64
 13  calculatedbathnbr             52304 non-null  float64
 14  decktypeid                    389 non-null    float64
 15  finishedfloor1squarefeet      4381 non-null   float64
 16  calculatedfinishedsquarefeet  52359 non-null  float64
 17  finishedsquarefeet12          52194 non-null  float64
 18  finishedsquarefeet13          0 non-null      object
 19  finishedsquarefeet15          0 non-null      object
 20  finishedsquarefeet50          4381 non-null   float64
 21  finishedsquarefeet6           165 non-null    float64
 22  fips                          52441 non-null  float64
 23  fireplacecnt                  7243 non-null   float64
 24  fullbathcnt                   52304 non-null  float64
 25  garagecarcnt                  18015 non-null  float64
 26  garagetotalsqft               18015 non-null  float64
 27  hashottuborspa                1515 non-null   float64
 28  latitude                      52441 non-null  float64
 29  longitude                     52441 non-null  float64
 30  lotsizesquarefeet             52072 non-null  float64
 31  poolcnt                       11096 non-null  float64
 32  poolsizesum                   867 non-null    float64
 33  pooltypeid10                  444 non-null    float64
 34  pooltypeid2                   1071 non-null   float64
 35  pooltypeid7                   10009 non-null  float64
 36  propertycountylandusecode     52441 non-null  object
 37  propertyzoningdesc            33848 non-null  object
 38  rawcensustractandblock        52441 non-null  float64
 39  regionidcity                  51404 non-null  float64
 40  regionidcounty                52441 non-null  float64
 41  regionidneighborhood          19033 non-null  float64
 42  regionidzip                   52415 non-null  float64
 43  roomcnt                       52441 non-null  float64
 44  threequarterbathnbr           6724 non-null   float64
 45  unitcnt                       33847 non-null  float64
 46  yardbuildingsqft17            1937 non-null   float64
 47  yardbuildingsqft26            63 non-null     float64
 48  yearbuilt                     52325 non-null  float64
 49  numberofstories               14561 non-null  float64
 50  fireplaceflag                 81 non-null     float64
 51  structuretaxvaluedollarcnt    52357 non-null  float64
 52  taxvaluedollarcnt             52440 non-null  float64
 53  assessmentyear                52441 non-null  float64
 54  landtaxvaluedollarcnt         52440 non-null  float64
 55  taxamount                     52437 non-null  float64
 56  taxdelinquencyflag            2079 non-null   object
 57  taxdelinquencyyear            2079 non-null   float64
 58  censustractandblock           52318 non-null  float64
 59  id                            52441 non-null  int64
 60  logerror                      52441 non-null  float64
 61  transactiondate               52441 non-null  object
 62  architecturalstyledesc        70 non-null     object
 63  propertylandusedesc           52441 non-null  object
 64  airconditioningdesc           13638 non-null  object
 65  typeconstructiondesc          76 non-null     object
 66  storydesc                     47 non-null     object
 67  heatingorsystemdesc           33935 non-null  object
dtypes: float64(52), int64(3), object(13)
memory usage: 27.2+ MB

In [8]:
df.value_counts

<bound method DataFrame.value_counts of        heatingorsystemtypeid  parcelid  storytypeid  typeconstructiontypeid  \
0                        NaN  14297519          NaN                     NaN
1                        NaN  17052889          NaN                     NaN
2                        NaN  14186244          NaN                     NaN
3                        2.0  12177905          NaN                     NaN
4                        2.0  12095076          NaN                     NaN
...                      ...       ...          ...                     ...
52436                    2.0  12412492          NaN                     NaN
52437                    2.0  11000655          NaN                     NaN
52438                    NaN  17239384          NaN                     NaN
52439                    2.0  12773139          NaN                     NaN
52440                    2.0  12826780          NaN                     NaN

       airconditioningtypeid  propertylandusetypeid  architecturalstyletypeid  \
0                        NaN                  261.0                       NaN
1                        NaN                  261.0                       NaN
2                        NaN                  261.0                       NaN
3                        NaN                  261.0                       NaN
4                        1.0                  261.0                       NaN
...                      ...                    ...                       ...
52436                    NaN                  261.0                       NaN
52437                    NaN                  261.0                       NaN
52438                    NaN                  261.0                       NaN
52439                    1.0                  261.0                       NaN
52440                    NaN                  261.0                       NaN

            id  basementsqft  bathroomcnt  ...  censustractandblock     id  \
0      1727539           NaN          3.5  ...         6.059063e+13      0
1      1387261           NaN          1.0  ...         6.111001e+13      1
2        11677           NaN          2.0  ...         6.059022e+13      2
3      2288172           NaN          3.0  ...         6.037300e+13      3
4       781532           NaN          3.0  ...         6.037461e+13      6
...        ...           ...          ...  ...                  ...    ...
52436  2274245           NaN          2.0  ...         6.037555e+13  77607
52437   673515           NaN          2.0  ...         6.037101e+13  77609
52438  2968375           NaN          2.0  ...         6.111008e+13  77610
52439  1843709           NaN          1.0  ...         6.037434e+13  77611
52440  1187175           NaN          2.0  ...         6.037503e+13  77612

       logerror  transactiondate  architecturalstyledesc  \
0      0.025595       2017-01-01                    None
1      0.055619       2017-01-01                    None
2      0.005383       2017-01-01                    None
3     -0.103410       2017-01-01                    None
4     -0.001011       2017-01-01                    None
...         ...              ...                     ...
52436  0.001082       2017-09-19                    None
52437  0.020615       2017-09-20                    None
52438  0.013209       2017-09-21                    None
52439  0.037129       2017-09-21                    None
52440  0.007204       2017-09-25                    None

             propertylandusedesc  airconditioningdesc  typeconstructiondesc  \
0      Single Family Residential                 None                  None
1      Single Family Residential                 None                  None
2      Single Family Residential                 None                  None
3      Single Family Residential                 None                  None
4      Single Family Residential              Central                  None
...                          ...                  ...                   ...
52436  Single Family Residential                 None                  None
52437  Single Family Residential                 None                  None
52438  Single Family Residential                 None                  None
52439  Single Family Residential              Central                  None
52440  Single Family Residential                 None                  None

      storydesc heatingorsystemdesc
0          None                None
1          None                None
2          None                None
3          None             Central
4          None             Central
...         ...                 ...
52436      None             Central
52437      None             Central
52438      None                None
52439      None             Central
52440      None             Central

[52441 rows x 68 columns]>

In [9]:
df.describe()

,heatingorsystemtypeid,parcelid,storytypeid,typeconstructiontypeid,airconditioningtypeid,propertylandusetypeid,architecturalstyletypeid,id,basementsqft,bathroomcnt,...,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock,id,logerror
count,33935.000000,5.244100e+04,47.0,76.000000,13638.000000,52441.0,70.00000,5.244100e+04,47.000000,52441.000000,...,81.0,5.235700e+04,5.244000e+04,52441.0,5.244000e+04,52437.000000,2079.000000,5.231800e+04,52441.000000,52441.000000
mean,3.966288,1.299912e+07,7.0,5.973684,2.438041,261.0,7.10000,1.497270e+06,678.978723,2.299403,...,1.0,1.965338e+05,5.296882e+05,2016.0,3.334655e+05,6453.511209,14.102453,6.050240e+13,38859.892946,0.018298
std,2.562506,3.411444e+06,0.0,0.229416,3.846176,0.0,2.66567,8.594393e+05,711.825226,1.022772,...,0.0,2.543401e+05,7.518946e+05,0.0,5.705278e+05,8755.568452,2.394972,1.859036e+12,22348.009638,0.177501
min,1.000000,1.071186e+07,7.0,4.000000,1.000000,261.0,2.00000,3.490000e+02,38.000000,0.000000,...,1.0,1.290000e+02,1.000000e+03,2016.0,1.610000e+02,49.180000,4.000000,6.037101e+13,0.000000,-4.655420
25%,2.000000,1.151022e+07,7.0,6.000000,1.000000,261.0,7.00000,7.579550e+05,263.500000,2.000000,...,1.0,7.707100e+04,1.937475e+05,2016.0,7.602075e+04,2656.220000,14.000000,6.037401e+13,19546.000000,-0.024639
50%,2.000000,1.257764e+07,7.0,6.000000,1.000000,261.0,7.00000,1.500810e+06,512.000000,2.000000,...,1.0,1.318110e+05,3.736120e+05,2016.0,2.180320e+05,4647.740000,15.000000,6.037620e+13,38927.000000,0.007011
75%,7.000000,1.412953e+07,7.0,6.000000,1.000000,261.0,7.00000,2.241534e+06,809.500000,3.000000,...,1.0,2.263340e+05,6.193012e+05,2016.0,4.086068e+05,7377.500000,15.000000,6.059042e+13,58092.000000,0.040692
max,24.000000,1.676878e+08,7.0,6.000000,13.000000,261.0,21.00000,2.982270e+06,3560.000000,18.000000,...,1.0,9.164901e+06,4.906124e+07,2016.0,4.895220e+07,586639.300000,99.000000,4.830301e+14,77612.000000,5.262999

In [ ]:
pd.set_option('display.max_columns', None)

df.head()

In [ ]:
df.typeconstructiondesc.value_counts

  ## Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [10]:
df.isnull().head()

,heatingorsystemtypeid,parcelid,storytypeid,typeconstructiontypeid,airconditioningtypeid,propertylandusetypeid,architecturalstyletypeid,id,basementsqft,bathroomcnt,...,censustractandblock,id,logerror,transactiondate,architecturalstyledesc,propertylandusedesc,airconditioningdesc,typeconstructiondesc,storydesc,heatingorsystemdesc
0,True,False,True,True,True,False,True,False,True,False,...,False,False,False,False,True,False,True,True,True,True
1,True,False,True,True,True,False,True,False,True,False,...,False,False,False,False,True,False,True,True,True,True
2,True,False,True,True,True,False,True,False,True,False,...,False,False,False,False,True,False,True,True,True,True
3,False,False,True,True,True,False,True,False,True,False,...,False,False,False,False,True,False,True,True,True,False
4,False,False,True,True,False,False,True,False,True,False,...,False,False,False,False,True,False,False,True,True,False

In [11]:
df.isnull().sum()[:20]

heatingorsystemtypeid           18506
parcelid                            0
storytypeid                     52394
typeconstructiontypeid          52365
airconditioningtypeid           38803
propertylandusetypeid               0
architecturalstyletypeid        52371
id                                  0
basementsqft                    52394
bathroomcnt                         0
bedroomcnt                          0
buildingclasstypeid             52441
buildingqualitytypeid           18701
calculatedbathnbr                 137
decktypeid                      52052
finishedfloor1squarefeet        48060
calculatedfinishedsquarefeet       82
finishedsquarefeet12              247
finishedsquarefeet13            52441
finishedsquarefeet15            52441
dtype: int64

In [13]:
df.shape

(52441, 68)

In [15]:
nulls_col = pd.DataFrame({'num_rows_missing': df.isnull().sum(), 
              'percent_rows_missing': (df.isnull().sum() / df.shape[0] * 100)})

nulls_col.sort_values(by='num_rows_missing', ascending=False).head(20)

                          num_rows_missing  percent_rows_missing
finishedsquarefeet13                 52441            100.000000
buildingclasstypeid                  52441            100.000000
finishedsquarefeet15                 52441            100.000000
storytypeid                          52394             99.910375
storydesc                            52394             99.910375
basementsqft                         52394             99.910375
yardbuildingsqft26                   52378             99.879865
architecturalstyletypeid             52371             99.866517
architecturalstyledesc               52371             99.866517
typeconstructiontypeid               52365             99.855075
typeconstructiondesc                 52365             99.855075
fireplaceflag                        52360             99.845541
finishedsquarefeet6                  52276             99.685361
decktypeid                           52052             99.258214
pooltypeid10                         51997             99.153334
poolsizesum                          51574             98.346713
pooltypeid2                          51370             97.957705
hashottuborspa                       50926             97.111039
yardbuildingsqft17                   50504             96.306325
taxdelinquencyflag                   50362             96.035545

In [16]:


df.isnull().sum()

heatingorsystemtypeid     18506
parcelid                      0
storytypeid               52394
typeconstructiontypeid    52365
airconditioningtypeid     38803
                          ...
propertylandusedesc           0
airconditioningdesc       38803
typeconstructiondesc      52365
storydesc                 52394
heatingorsystemdesc       18506
Length: 68, dtype: int64

In [17]:
(df.isnull().sum()/df.shape[0]*100)[:30]

heatingorsystemtypeid            35.289182
parcelid                          0.000000
storytypeid                      99.910375
typeconstructiontypeid           99.855075
airconditioningtypeid            73.993631
propertylandusetypeid             0.000000
architecturalstyletypeid         99.866517
id                                0.000000
basementsqft                     99.910375
bathroomcnt                       0.000000
bedroomcnt                        0.000000
buildingclasstypeid             100.000000
buildingqualitytypeid            35.661029
calculatedbathnbr                 0.261246
decktypeid                       99.258214
finishedfloor1squarefeet         91.645850
calculatedfinishedsquarefeet      0.156366
finishedsquarefeet12              0.471006
finishedsquarefeet13            100.000000
finishedsquarefeet15            100.000000
finishedsquarefeet50             91.645850
finishedsquarefeet6              99.685361
fips                              0.000000
fireplacecnt                     86.188288
fullbathcnt                       0.261246
garagecarcnt                     65.647108
garagetotalsqft                  65.647108
hashottuborspa                   97.111039
latitude                          0.000000
longitude                         0.000000
dtype: float64

In [ ]:
#prepare

 ## Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer.

In [18]:
df.propertylandusedesc.info()

<class 'pandas.core.series.Series'>
RangeIndex: 52441 entries, 0 to 52440
Series name: propertylandusedesc
Non-Null Count  Dtype
--------------  -----
52441 non-null  object
dtypes: object(1)
memory usage: 409.8+ KB

In [21]:
df.propertylandusedesc.head(20)

0     Single Family Residential
1     Single Family Residential
2     Single Family Residential
3     Single Family Residential
4     Single Family Residential
5     Single Family Residential
6     Single Family Residential
7     Single Family Residential
8     Single Family Residential
9     Single Family Residential
10    Single Family Residential
11    Single Family Residential
12    Single Family Residential
13    Single Family Residential
14    Single Family Residential
15    Single Family Residential
16    Single Family Residential
17    Single Family Residential
18    Single Family Residential
19    Single Family Residential
Name: propertylandusedesc, dtype: object

In [20]:
df.propertylandusedesc.unique()

array(['Single Family Residential'], dtype=object)

## Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

The input:
- A dataframe
- A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
- A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).

The output:
- The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in your function.

hint:
- Look up the dropna documentation.
- You will want to compute a threshold from your input values (prop_required) and total number of rows or columns.

In [22]:
def nulls_by_columns(df):
    return pd.concat([
        df.isna().sum().rename('count'),
        df.isna().mean().rename('percent')
    ], axis=1)

In [ ]:
cols_to_remove = ['heatingorsystemtypeid','parcelid','storytypeid','typeconstructiontypeid','airconditioningtypeid','propertylandusetypeid','architecturalstyletypeid','id','buildingclasstypeid','buildingqualitytypeid','decktypeid','pooltypeid10','pooltypeid2','pooltypeid7','taxamount','taxdelinquencyflag','taxdelinquencyyear','id']


def remove_columns(df, cols_to_remove):
    df = df.drop(columns=cols_to_remove)
    return df

In [ ]:
remove_columns(df, cols_to_remove)

In [23]:
def handle_missing_values(df, prop_required_columns=0.6, prop_required_row=0.75):
    threshold = int(round(prop_required_columns * len(df.index), 0))
    df = df.dropna(axis=1, thresh=threshold) #1, or ‘columns’ : Drop columns which contain missing value
    threshold = int(round(prop_required_row * len(df.columns), 0))
    df = df.dropna(axis=0, thresh=threshold) #0, or ‘index’ : Drop rows which contain missing values.
    return df

In [27]:
pd.set_option('display.max_columns', None)
df = handle_missing_values(df, prop_required_columns=0.60, prop_required_row=0.75)

In [28]:
df.unitcnt.value_counts

<bound method IndexOpsMixin.value_counts of 0        NaN
1        NaN
2        NaN
3        1.0
4        1.0
        ...
52436    1.0
52437    1.0
52438    NaN
52439    1.0
52440    1.0
Name: unitcnt, Length: 52376, dtype: float64>

In [30]:
nulls_col = pd.DataFrame({'num_rows_missing': df.isnull().sum(), 
              'percent_rows_missing': (df.isnull().sum() / df.shape[0] * 100)})

nulls_col.sort_values(by='num_rows_missing', ascending=False).head(20)

                              num_rows_missing  percent_rows_missing
buildingqualitytypeid                    18636             35.581182
propertyzoningdesc                       18539             35.395983
unitcnt                                  18529             35.376890
heatingorsystemtypeid                    18441             35.208874
heatingorsystemdesc                      18441             35.208874
regionidcity                              1031              1.968459
lotsizesquarefeet                          360              0.687338
finishedsquarefeet12                       182              0.347487
censustractandblock                        114              0.217657
structuretaxvaluedollarcnt                  76              0.145105
fullbathcnt                                 72              0.137468
calculatedbathnbr                           72              0.137468
yearbuilt                                   51              0.097373
regionidzip                                 23              0.043913
calculatedfinishedsquarefeet                17              0.032458
taxamount                                    4              0.007637
landtaxvaluedollarcnt                        1              0.001909
taxvaluedollarcnt                            1              0.001909
propertylandusedesc                          0              0.000000
transactiondate                              0              0.000000

In [31]:
(df.isnull().sum()/df.shape[0]*100)[:30]

heatingorsystemtypeid           35.208874
parcelid                         0.000000
propertylandusetypeid            0.000000
id                               0.000000
bathroomcnt                      0.000000
bedroomcnt                       0.000000
buildingqualitytypeid           35.581182
calculatedbathnbr                0.137468
calculatedfinishedsquarefeet     0.032458
finishedsquarefeet12             0.347487
fips                             0.000000
fullbathcnt                      0.137468
latitude                         0.000000
longitude                        0.000000
lotsizesquarefeet                0.687338
propertycountylandusecode        0.000000
propertyzoningdesc              35.395983
rawcensustractandblock           0.000000
regionidcity                     1.968459
regionidcounty                   0.000000
regionidzip                      0.043913
roomcnt                          0.000000
unitcnt                         35.376890
yearbuilt                        0.097373
structuretaxvaluedollarcnt       0.145105
taxvaluedollarcnt                0.001909
assessmentyear                   0.000000
landtaxvaluedollarcnt            0.001909
taxamount                        0.007637
censustractandblock              0.217657
dtype: float64

In [32]:
df.head()

,heatingorsystemtypeid,parcelid,propertylandusetypeid,id,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,latitude,longitude,lotsizesquarefeet,propertycountylandusecode,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidzip,roomcnt,unitcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,id,logerror,transactiondate,propertylandusedesc,heatingorsystemdesc
0,NaN,14297519,261.0,1727539,3.5,4.0,NaN,3.5,3100.0,3100.0,6059.0,3.0,33634931.0,-117869207.0,4506.0,122,None,6.059063e+07,53571.0,1286.0,96978.0,0.0,NaN,1998.0,485713.0,1023282.0,2016.0,537569.0,11013.72,6.059063e+13,0,0.025595,2017-01-01,Single Family Residential,None
1,NaN,17052889,261.0,1387261,1.0,2.0,NaN,1.0,1465.0,1465.0,6111.0,1.0,34449266.0,-119281531.0,12647.0,1110,None,6.111001e+07,13091.0,2061.0,97099.0,5.0,NaN,1967.0,88000.0,464000.0,2016.0,376000.0,5672.48,6.111001e+13,1,0.055619,2017-01-01,Single Family Residential,None
2,NaN,14186244,261.0,11677,2.0,3.0,NaN,2.0,1243.0,1243.0,6059.0,2.0,33886168.0,-117823170.0,8432.0,122,None,6.059022e+07,21412.0,1286.0,97078.0,6.0,NaN,1962.0,85289.0,564778.0,2016.0,479489.0,6488.30,6.059022e+13,2,0.005383,2017-01-01,Single Family Residential,None
3,2.0,12177905,261.0,2288172,3.0,4.0,8.0,3.0,2376.0,2376.0,6037.0,3.0,34245180.0,-118240722.0,13038.0,0101,LCR110000*,6.037300e+07,396551.0,3101.0,96330.0,0.0,1.0,1970.0,108918.0,145143.0,2016.0,36225.0,1777.51,6.037300e+13,3,-0.103410,2017-01-01,Single Family Residential,Central
4,2.0,12095076,261.0,781532,3.0,4.0,9.0,3.0,2962.0,2962.0,6037.0,3.0,34145202.0,-118179824.0,63000.0,0101,PSR2,6.037461e+07,47019.0,3101.0,96293.0,0.0,1.0,1950.0,276684.0,773303.0,2016.0,496619.0,9516.26,6.037461e+13,6,-0.001011,2017-01-01,Single Family Residential,Central

In [40]:
cols_to_remove = ['buildingqualitytypeid', ]

def remove_columns(df, cols_to_remove):
    df = df.drop(columns=cols_to_remove)
    return df

In [ ]:
#Save a copy of the clean csv to my local machine
#clean_df.to_csv('zillow.csv')

In [34]:
df.head()

,heatingorsystemtypeid,parcelid,propertylandusetypeid,id,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,latitude,longitude,lotsizesquarefeet,propertycountylandusecode,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidzip,roomcnt,unitcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,id,logerror,transactiondate,propertylandusedesc,heatingorsystemdesc
0,NaN,14297519,261.0,1727539,3.5,4.0,NaN,3.5,3100.0,3100.0,6059.0,3.0,33634931.0,-117869207.0,4506.0,122,None,6.059063e+07,53571.0,1286.0,96978.0,0.0,NaN,1998.0,485713.0,1023282.0,2016.0,537569.0,11013.72,6.059063e+13,0,0.025595,2017-01-01,Single Family Residential,None
1,NaN,17052889,261.0,1387261,1.0,2.0,NaN,1.0,1465.0,1465.0,6111.0,1.0,34449266.0,-119281531.0,12647.0,1110,None,6.111001e+07,13091.0,2061.0,97099.0,5.0,NaN,1967.0,88000.0,464000.0,2016.0,376000.0,5672.48,6.111001e+13,1,0.055619,2017-01-01,Single Family Residential,None
2,NaN,14186244,261.0,11677,2.0,3.0,NaN,2.0,1243.0,1243.0,6059.0,2.0,33886168.0,-117823170.0,8432.0,122,None,6.059022e+07,21412.0,1286.0,97078.0,6.0,NaN,1962.0,85289.0,564778.0,2016.0,479489.0,6488.30,6.059022e+13,2,0.005383,2017-01-01,Single Family Residential,None
3,2.0,12177905,261.0,2288172,3.0,4.0,8.0,3.0,2376.0,2376.0,6037.0,3.0,34245180.0,-118240722.0,13038.0,0101,LCR110000*,6.037300e+07,396551.0,3101.0,96330.0,0.0,1.0,1970.0,108918.0,145143.0,2016.0,36225.0,1777.51,6.037300e+13,3,-0.103410,2017-01-01,Single Family Residential,Central
4,2.0,12095076,261.0,781532,3.0,4.0,9.0,3.0,2962.0,2962.0,6037.0,3.0,34145202.0,-118179824.0,63000.0,0101,PSR2,6.037461e+07,47019.0,3101.0,96293.0,0.0,1.0,1950.0,276684.0,773303.0,2016.0,496619.0,9516.26,6.037461e+13,6,-0.001011,2017-01-01,Single Family Residential,Central

In [42]:
 df = remove_columns(df, cols_to_remove)

In [43]:
df.head()

,parcelid,propertylandusetypeid,id,bathroomcnt,bedroomcnt,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,latitude,longitude,lotsizesquarefeet,propertycountylandusecode,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidzip,roomcnt,unitcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,id,logerror,transactiondate,propertylandusedesc,heatingorsystemdesc
0,14297519,261.0,1727539,3.5,4.0,3.5,3100.0,3100.0,6059.0,3.0,33634931.0,-117869207.0,4506.0,122,None,6.059063e+07,53571.0,1286.0,96978.0,0.0,NaN,1998.0,485713.0,1023282.0,2016.0,537569.0,11013.72,6.059063e+13,0,0.025595,2017-01-01,Single Family Residential,None
1,17052889,261.0,1387261,1.0,2.0,1.0,1465.0,1465.0,6111.0,1.0,34449266.0,-119281531.0,12647.0,1110,None,6.111001e+07,13091.0,2061.0,97099.0,5.0,NaN,1967.0,88000.0,464000.0,2016.0,376000.0,5672.48,6.111001e+13,1,0.055619,2017-01-01,Single Family Residential,None
2,14186244,261.0,11677,2.0,3.0,2.0,1243.0,1243.0,6059.0,2.0,33886168.0,-117823170.0,8432.0,122,None,6.059022e+07,21412.0,1286.0,97078.0,6.0,NaN,1962.0,85289.0,564778.0,2016.0,479489.0,6488.30,6.059022e+13,2,0.005383,2017-01-01,Single Family Residential,None
3,12177905,261.0,2288172,3.0,4.0,3.0,2376.0,2376.0,6037.0,3.0,34245180.0,-118240722.0,13038.0,0101,LCR110000*,6.037300e+07,396551.0,3101.0,96330.0,0.0,1.0,1970.0,108918.0,145143.0,2016.0,36225.0,1777.51,6.037300e+13,3,-0.103410,2017-01-01,Single Family Residential,Central
4,12095076,261.0,781532,3.0,4.0,3.0,2962.0,2962.0,6037.0,3.0,34145202.0,-118179824.0,63000.0,0101,PSR2,6.037461e+07,47019.0,3101.0,96293.0,0.0,1.0,1950.0,276684.0,773303.0,2016.0,496619.0,9516.26,6.037461e+13,6,-0.001011,2017-01-01,Single Family Residential,Central

In [44]:
df.to_csv('zillow2.csv')

## Mall Customers

In [ ]:
sql = """SELECT * FROM customers;"""

df2 = pd.read_sql(sql, get_connection("mall_customers"));

In [ ]:
df2.head()

Summarize data (include distributions and descriptive statistics).

In [ ]:
df2.describe()

Detect outliers using IQR.

In [ ]:
def get_upper_outliers(s, k=1.5):
    '''
    Given a series and a cutoff value, k, returns the upper outliers for the
    series.

    The values returned will be either 0 (if the point is not an outlier), or a
    number that indicates how far away from the upper bound the observation is.
    '''
    q1, q3 = s.quantile([.25, 0.75])
    iqr = q3 - q1
    upper_bound = q3 + k * iqr
    return s.apply(lambda x: max([x - upper_bound, 0]))

In [ ]:
def add_upper_outlier_columns(df, k=1.5):
    '''
    Add a column with the suffix _outliers for all the numeric columns
    in the given dataframe.
    '''
    for col in df.select_dtypes('number'):
        df[col + '_outliers_upper'] = get_upper_outliers(df[col], k)
    return df

In [ ]:
df3 = add_upper_outlier_columns(df2)

In [ ]:
df3.head()

In [ ]:
outlier_cols = [col for col in df3.columns if col.endswith('_outliers_upper')]
for col in outlier_cols:
    print(col, ': ')
    subset = df[col][df[col] > 0]
    print(f'Number of Observations Above Upper Bound: {subset.count()}', '\n')
    print(subset.describe())
    print('------', '\n')

Split data into train, validate, and test.

In [ ]:
from sklearn.model_selection import train_test_split

def split_data(df):
    '''
    take in a DataFrame and return train, validate, and test DataFrames; stratify on taxvaluedollarcnt.
    return train, validate, test DataFrames.
    '''


    train_validate, test = train_test_split(df, test_size=.2, random_state=123)
    train, validate = train_test_split(train_validate, 
                                       test_size=.3, 
                                       random_state=123)
    return train, validate, test

train, validate, test = split_data(df3)

In [ ]:
train.shape, validate.shape, test.shape

Encode categorical columns using a one hot encoder (pd.get_dummies).

In [ ]:
dummy_df = pd.get_dummies(train['gender'],dummy_na=False, drop_first = True)
#append to add encoded col to df
train = pd.concat([train, dummy_df], axis=1)

In [ ]:
train.head()

Handles missing values.

In [ ]:
train.isnull().sum()

In [ ]:
cols_to_remove = ['customer_id_outliers_upper','age_outliers_upper','annual_income_outliers_upper','spending_score_outliers_upper','customer_id_outliers_upper_outliers_upper', 'age_outliers_upper_outliers_upper','annual_income_outliers_upper_outliers_upper', 'spending_score_outliers_upper_outliers_upper']
train.drop(columns=cols_to_remove)

Scaling

In [ ]:
import sklearn.preprocessing
from scipy import stats
import matplotlib.pyplot as plt


x = stats.skewnorm(7).rvs(1500) * 10 + 100
x = x.reshape(-1, 1)
#I first again split, to have a set of data that is not scaled and one
#that is scaled:
x_train_and_validate, x_test = train_test_split(x, random_state=123)
x_train, x_validate = train_test_split(x_train_and_validate)

scaler = sklearn.preprocessing.MinMaxScaler()
# Note that we only call .fit with the training data,
# but we use .transform to apply the scaling to all the data splits.
scaler.fit(x_train)

x_train_scaled = scaler.transform(x_train)
x_validate_scaled = scaler.transform(x_validate)
x_test_scaled = scaler.transform(x_test)

plt.figure(figsize=(13, 6))
plt.subplot(121)
plt.hist(x_train, bins=25, ec='black')
plt.title('Original')
plt.subplot(122)
plt.hist(x_train_scaled, bins=25, ec='black')
plt.title('Scaled')